body, html {
    height : 100%;
}
.bg-img {
    background-image: url('../Assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position : center;
    filter : blur(2px);
    height : 100%;
}
.titlebar {
    filter: blur(0);
}
.title {
    //position: absolute;
    width: 484px;
    height: 73px;
    left: 25px;
    top: 23px;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 73px;
    /* identical to box height */
    color: #CF3924;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link {
    position: absolute;*/
    width: 128px;
    height: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #62297C;
}
.textbox {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}

