<!doctype html>
<html lang="vi">
<head>
    <link rel="stylesheet" href="~/src/css/StyleSheet1.css"
    <link rel="stylesheet" href="~/Assets/Fonts/IndieFlower-Regular.ttf"/>
</head>
<body>
    <div class="bg-img">
        <div class="wrapper homepage_page">
            <div class="header-top">
                <div class="container">
                    <h1 class="page-name">Dân ta phải biết sử ta</h1>
                    <a href="" class="homepage-btn">Trang chủ</a>
                    <a href="" class="about">Liên hệ</a>
                    <a href="" class="login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>