<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/src/StyleSheet1.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="bg-img">
        <div class="titlebar">
            <h1 class="title">Dân ta phải biết sử ta</h1>
            <a class="link" style="left: 900px; top: 20px;" href="">Trang chủ</a>
            <a class="link" style="left: 1054px; top: 20px;" href="">Liên hệ</a>
            <button class="link" style="width: 200px;
        height: 60px;
        left: 1240px;
        top: 15px;
        color: #9D9651;
        border-radius : 20px;
        text-align : center;
        " type="button" onclick="location.href = 'https://google.com'">
                Đăng nhập
            </button>
        </div>
        <div>
            <svg width="1000" height="600">
                <rect x="491" y="200" width="457" height="377"
                      style="stroke : black; stroke-width : 5px; fill : transparent;" />
                <text class="textbox" x="650" y="230">Đăng nhập</text>
            </svg>
        </div>
    </div>
   
    
</body>

</html>
