/* ---------------------Default setup-----------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

/* ---------------------Reuseable component-----------------------*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.btn{
    text-decoration: none;
    color: #9d9651;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
/*------------------------Header----------------------------*/
header{
    background-image:  url("../img/con\ rồng\ cháu\ tiên.jpg");
    filter: opacity(70%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

a{
    text-decoration: none;
}

.logo{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin-left: 10px;
    list-style: none;
    display: inline;
}

.logo a{
    color: #ff0000;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li{
    display: inline;
    margin-right: 30px;
}

.introbtn{
    color: #2b05ff;
}